html{
  height: 100%;
  font-family: "Trebuchet MS", "Arial", "Helvetica", "sans-serif";

  align-items: center;
  justify-items: center;

  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-text: #333333;
  --row-color:#F7F7F7;
  --border-color:#ddd;
  --input-background: #F4F4F4;
}

html[data-theme='dark']{
  --bg: #18191A;
  --bg-panel: #242526;
  --color-text: #FCFCFC;
  --row-color:#616161;
  --border-color:#7A7A7A;
  --input-background: #3A3B3C;
}

body{
  background-color: var(--bg);
}

.container{
  background-color: var(--bg-panel);
  margin: 1em;
  padding: 1em;
  border-radius: 10px;  
}

h1 {
  font-size: 20pt;
  text-align: center;
  color: var(--color-text);
}

#bar {
  color: #000000;
  height: 3px;
}

p{
  font-size: 15pt;
  color: var(--color-text);
}

label{
  display: grid;
  text-align: right;
  grid-template-columns: max-content max-content;
  color: var(--color-text);
}

input{
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--input-background);
  color: var(--color-text);
}

table{
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

th, td{
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 8px;
  color: var(--color-text);
}

tr:nth-child(even){
  background-color:var(--row-color);
}

tr:hover{
  background-color: var(--border-color);
}

th{
  background-color: #4CAF50;
  color: white;
}
